@font-face {
    font-family: "jua";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/jua/jua.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/jua/jua.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/jua/jua.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/jua/jua.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/jua/jua.ttf") format("truetype");
    font-display: swap;
} 
.jua {
    font-family: "jua";
}